.goal-set {
    list-style: none;
    border-bottom: solid 1px #EBA91B;

}

.goal-set button{
    float: right;
    background-color: #FCF2E5;
    border: 2px solid rgb(250, 233, 211);
    border-radius: 6px;
    color: #D5751A;
}

.goal-set li{
    margin: 7px;
    font-size: 15px;
}

.goal-set span {
    font-weight: bold;
    margin: 0 10px 0 0;
}