.grid {
    display: flex;
    flex-wrap: wrap;
  }
  
  .grid div {
    flex: 1;
    margin: 20px 5%;
    min-width: 40%;
    text-align: center;
  }

 
  
  
  @media screen and (max-width: 700px){
    .grid {
      flex-direction: column;
    }
  }