#email {
    width: 60%; 
}

#password {
    width: 60%;
}

.credential-container{
    width: 40%;
    margin: 0px auto;
    
}
.credentials {
    border: solid 3px #FCF2E5;
    border-radius: 5px;
    margin-top: 90px;
    text-align: center;
    padding: 30px 0px;

}

.demo {
    text-align: center;
    background-color:rgb(249, 244, 237, 0.2);
    border-radius: 5px;
    border: solid 1px #FCF2E5;
}