* {
    font-family: 'Open Sans', sans-serif;
}

body {
    min-height: 100vh;
}

.container {
    min-height: 84vh;
}

.titles {
    color: #341C01;
    text-align: center;
}

button {
    background-color: #FCF2E5;
    border: 2px solid rgb(250, 233, 211);
    border-radius: 6px;
    color: #D5751A;
    padding: 8px;
}
@font-face {
    font-family: 'Agane';
    src: url('fonts\agane\Agane╠Ç 45 (light).ttf');
    font-weight: normal;
    font-style: normal;

}

